.cart {
    height: 440px;
    width: 270px;
    /* border: 1px solid black; */
    position: fixed;
    right: 10px;
    top: 70px;
}
.panier {
    height: 90%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.commander {
    background: #70a401;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 21px;
    height: 50px;
}

.commander:disabled {
    background-color: #c6db99;
}

.commander:disabled .quantite-2 {
    background-color: #a8c46c;
}

.cart-bis {
    overflow-y: scroll;
    scrollbar-width: none;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 340px;

}

.total {
    background: #f5f7f9;
    border-bottom-left-radius: 5px;     
    border-bottom-right-radius: 5px;
}

.quantite {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantite-2 {
    background: #639003;
    border-radius: 5px;
    width: 70%;
}

.money {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-commander {
    display: flex;
    justify-content: center;
    flex: 3;
    align-items: center;
}

.total h5 {
    font-size: 17px;
}

@media (min-width: 780px) {
.cart h2 {
    font-size: 25px;
    font-family: "BlockBE";
}
}
