.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-item {
    padding: 12px 16px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}